@model TDG_SICACI.Models.NormaModel
@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Norma</h2>
<br/>
<hr/>
<dl class="dl-horizontal">
  <dt>Numeral:</dt>
  <dd>@Model.numeral <hr/></dd>
  <dt>Contenido:</dt>
  <dd>@Model.contenido <hr/></dd>
</dl>