@model IEnumerable<TDG_SICACI.Models.NormaModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
}

<h2>Norma ISO 9001</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class = "table-responsive">
        @Html.Grid(Model).Named("normaTable").Columns(columns => 
                    {
                         columns.Add(u => u.numeral).Titled("Numeral").Filterable(true);
                         columns.Add(u => u.contenido).Titled("Contenido").Filterable(true);
                         columns.Add().Encoded(false).Sanitized(false).RenderValueAs(d =>@<b><a href=@Html.Raw("/Norma/Consultar?numeral="+d.numeral) class="btn btn-success btn-sm">&nbsp;&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a></b>);
                    }).WithPaging(5).Sortable(true)
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="pull-right">
        </div>
    </div>
</div>