@model TDG_SICACI.Models.Modificar_organizacionModel
@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar Organizaci&oacuten</h2>

@using (Html.BeginForm("Modificar", "Organizacion", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ModificarOrganizacionFormId" }))
{
    @Html.FormularioFor("#ModificarOrganizacionFormId"
        ).AddFieldFor(m => m.nombre
        ).AddFieldFor(m => m.eslogan
        ).AddFieldFor(m => m.logo
        ).AddFieldFor(m => m.alcance
        ).AddFieldFor(m => m.mision
        ).AddFieldFor(m => m.vision
        )
} 