@model TDG_SICACI.Models.ArchivoModel
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Archivo</h2>

@using (Html.BeginForm("Agregar", "Archivo", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="AgregarArchivoFormId"}))
{
    @Html.FormularioFor("#AgregarArchivoFormId").AddFieldFor(m => m.nombre)
    @Html.FormularioFor("#AgregarArchivoFormId").AddFieldFor(m => m.etiqueta)
    @Html.FormularioFor("#AgregarArchivoFormId").AddButton(new JFFormButton("btnSend", "Enviar", JFFormButton.JFTipoBoton.Primary, false, "col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-3 col-xs-offset-9 ").SetForm("#AgregarArchivoFormId"))
} 