@model TDG_SICACI.Models.ArchivoModel
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Archivo</h2>

@using (Html.BeginForm("Agregar", "Archivo", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="AgregarArchivoFormId"}))
{
    @Html.FormularioFor("#AgregarArchivoFormId").AddFieldFor(m => m.nombre)
    @Html.FormularioFor("#AgregarArchivoFormId").AddFieldFor(m => m.etiqueta)
    @Html.FormularioFor("#AgregarArchivoFormId").AddFieldFor(m => m.documento)
    <div class="pull-right">
    @Html.FormularioFor("#AgregarArchivoFormId").AddButton(new JFFormButton("btnSend", "<span class=\"glyphicon glyphicon-ok\"></span> Enviar", JFFormButton.JFTipoBoton.Primary, false).SetForm("#AgregarArchivoFormId"))
    </div>
} 