@model TDG_SICACI.Models.Consultar_ArchivoModel
@{IEnumerable<SelectListItem> lstRoles = ViewBag.Roles;
  IEnumerable<SelectListItem> lstEstados = ViewBag.Status;
}
<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-partialview")" type="text/javascript"></script>

<h2>Consultar Archivo</h2>

<br/>
<hr/>
<dl class="dl-horizontal">
  <dt>Usuario:</dt>
  <dd>@Model.nombre <hr/></dd>
  <dt>Nombre:</dt>
  <dd>@Model.etiqueta <hr/></dd>
  <dt></dt>
  <dd><a href=@Model.url class="btn btn-success btn-sm">Archivo &nbsp;&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a><hr/></dd>
</dl>