@model TDG_SICACI.Models.ArchivoModel
@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar Archivo</h2>

@using (Html.BeginForm("Modificar", "Archivo", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="c"}))
{
    @Html.FormularioFor("#ModificarArchivoFormId").AddFieldFor(m => m.nombre)
    @Html.FormularioFor("#ModificarArchivoFormId").AddFieldFor(m => m.etiqueta)
    @Html.FormularioFor("#ModificarArchivoFormId").AddFieldFor(m => m.documento)
    <div class="pull-right">
    @Html.FormularioFor("#ModificarArchivoFormId").AddButton(new JFFormButton("btnSend", "<span class=\"glyphicon glyphicon-ok\"></span> Enviar", JFFormButton.JFTipoBoton.Primary, false).SetForm("#ModificarArchivoFormId"))
    </div>
} 