body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.inicio-sesion {
    max-width: 400px;
    margin: 0 auto;
}

.inicio-sesion-background {
    background-color: #eee;
}

.tooltip-inner {
    max-width: 300px;
    padding: 0;
}
.tooltip-alert{
    padding: 8px 10px;
    font-weight: bolder;
    color: #A94442;
} 


/*Para el codigo del TreeView*/
.nav-header {
  display: block;
  padding: 0px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.nav-list {
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list>li>a {
    padding: 3px 15px;
    font-size: 12px;
}
.nav-list>li>a, .nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav>li>a {
    display: block;
}

.nav-list .divider {
    height: 2px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #D5D5D5;
    border-bottom: 1px solid #fff;
}

.norma-selected {
    background-color: #fcf8e3;
}