@model TDG_SICACI.Models.findingModel
@{
    ViewBag.Title = "agregarFinding";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> NoConformidad = new List<SelectListItem>();
    NoConformidad.Add(new SelectListItem() { Text = "No conformidad mayor", Value = "NMA", Selected = true });
    NoConformidad.Add(new SelectListItem() { Text = "No conformidad menor", Value = "NME" });
    NoConformidad.Add(new SelectListItem() { Text = "Observacion", Value = "OB" });
    NoConformidad.Add(new SelectListItem() { Text = "Oportunidad de mejora", Value = "OM" });

    List<SelectListItem> relacionado = new List<SelectListItem>();
    relacionado.Add(new SelectListItem() { Text = "Numeral 1 norma", Value = "NMA", Selected = true });
    relacionado.Add(new SelectListItem() { Text = "Numeral 2 norma", Value = "NME" });
    relacionado.Add(new SelectListItem() { Text = "Numeral 3 norma", Value = "OB" });
    relacionado.Add(new SelectListItem() { Text = "Numeral 4 norma", Value = "OM" });

    List<SelectListItem> correccion = new List<SelectListItem>();
    correccion.Add(new SelectListItem() { Text = "Inmediata", Value = "1", Selected = true });
    correccion.Add(new SelectListItem() { Text = "Sostenible", Value = "0" });

}

<h2>Agregar Finding</h2>

@using (Html.BeginForm("agregarFinding", "SelfA", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="finding"}))
{
    
    @Html.FormularioFor("#finding").AddFieldFor(m => m.tipoNoConformidad, new JFOptionsFields().SetIsInline(false).loadItems(NoConformidad.AsEnumerable())
        ).AddFieldFor(m => m.comentario
        ).AddFieldFor(m => m.numeralRelacion, new JFOptionsFields().SetIsInline(false).loadItems(relacionado.AsEnumerable())
        ).AddFieldFor(m => m.tipoCorreccion, new JFOptionsFields().SetIsInline(false).loadItems(correccion.AsEnumerable())
        ).AddFieldFor(m => m.accionCorrectivaSugerida
        ).AddFieldFor(m => m.fechaLimiteSugerida
        //).AddButton(new JFFormButton("btnSendCB", "Enviar datos", JFFormButton.JFTipoBoton.Primary, false).SetForm("#finding")    
        ).AddButton(new JFFormButton("btnSend", "Send", JFFormButton.JFTipoBoton.Primary, false, "pull-right").SetForm("#finding"))

}
