@model  TDG_SICACI.Models.LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión en SICACI";
    Layout = "~/Views/Shared/_LayoutAnonimo.cshtml";
}
<section id="sectionLogin" class="inicio-sesion">
    <legend>Inicio de Sesión</legend>
    @using (Html.BeginForm("LogOn", "Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id= "loginForm" }))
    {
        @Html.FormularioFor("#loginForm").AddFieldFor(m => m.UserName).AddFieldFor(m => m.Password
            ).AddButton(new JFFormButton("btnLogin", "Iniciar Sesión", JFFormButton.JFTipoBoton.Primary, true).SetForm("#loginForm"))
    }
</section>