@model IEnumerable<TDG_SICACI.Models.UsuarioModel>
@using GridMvc.Html
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />

<div class = "table-responsive">
    @Html.Grid(Model).Named("usuariosTable").Columns(columns => 
            {
                    columns.Add(u => u.usuario).Titled("Usuario").Filterable(true);
                    columns.Add(u => u.nombre).Titled("Nombre").Filterable(true);
                    columns.Add(u => u.apellido).Titled("Apellido").Filterable(true);
                    columns.Add(u => u.email).Titled("Email").Filterable(true);
                    columns.Add(u => u.rol).Titled("Rol").Filterable(true);
            }).WithPaging(5).Sortable(true)
</div>