@model ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}
<h2>Cambiar contraseña</h2>
@using (Html.BeginForm("ChangePassword", "Usuario", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formChangePWD" }))
{
    @Html.FormularioFor("#formChangePWD"
        ).AddFieldFor(u => u.oldPassword
        ).AddFieldFor(u => u.newPassword
        ).AddFieldFor(u => u.confirmNewPassword
    ).AddButton(new JFFormButton("btnSend", "   Cambiar contraseña", 
        JFFormButton.JFTipoBoton.Success, false, "pull-right", 
        classIcon: "glyphicon glyphicon-floppy-disk"
        ).SetForm("#formChangePWD"))
}