@model IEnumerable<TDG_SICACI.Models.UsuarioModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Gestionar Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<h2>Gestionar Usuarios</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class = "table-responsive">
        @Html.Grid(Model).Named("usuariosTable").Columns(columns => 
                    {
                         columns.Add(u => u.usuario).Titled("Usuario").Filterable(true);
                         columns.Add(u => u.nombre).Titled("Nombre").Filterable(true);
                         columns.Add(u => u.apellido).Titled("Apellido").Filterable(true);
                         columns.Add(u => u.email).Titled("Email").Filterable(true);
                         columns.Add(u => u.rol).Titled("Rol").Filterable(true);
                         columns.Add().Encoded(false).Sanitized(false).RenderValueAs(d =>@<b><a href=@Html.Raw("/Usuario/Consultar?usuario="+d.usuario) class="btn btn-success btn-sm">&nbsp;&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a></b>);
                    }).WithPaging(5).Sortable(true)
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="pull-right">
            <a href="/Usuario/Agregar/" class="btn btn-success btn-md">&nbsp;&nbsp<span class="glyphicon glyphicon-plus"></span> Agregar Usuario </a>
        </div>
    </div>
</div>

