<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Definición de Respuestas</h3></div>
  <div class="panel-body">
    <table class="table">
        <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-4">Descripción</th>
              <th class="col-md-4">Comentario</th>
              <th class="col-md-2">¿Es correcta?</th>
              <th class="col-md-1">Orden</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><div><p class="form-control-static input-sm"><b>1</b></p></div></td>
              <td><input type="text" name="resp-descripcion" class="form-control input-sm"></td>
              <td><input type="text" name="resp-comentario" class="form-control input-sm" ></td>
              <td>
                <label class="radio-inline"><input type="radio" name="resp-correcta" value="S">Si</label>
                <label class="radio-inline"><input type="radio" name="resp-correcta" value="N">No</label>
              </td>
              <td><input type="number" name="resp-orden" class="form-control input-sm"></td>
            </tr>
            <tr>
              <td><div><p class="form-control-static input-sm"><b>2</b></p></div></td>
              <td><input type="text" name="resp-descripcion" class="form-control input-sm"></td>
              <td><input type="text" name="resp-comentario" class="form-control input-sm" ></td>
              <td>
                <label class="radio-inline"><input type="radio" name="resp-correcta" value="S">Si</label>
                <label class="radio-inline"><input type="radio" name="resp-correcta" value="N">No</label>
              </td>
              <td><input type="number" name="resp-orden" class="form-control input-sm"></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

