<script src="Jquery.js" type="text/javascript"></script>

<script>
    var contLin = 2;
    function agregar() {
        var tr, td, tabla;

        tabla = document.getElementById('tabla');
        tr = tabla.insertRow(tabla.rows.length);
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<div><p class='form-control-static input-sm'><b>" + (contLin + 1) + "</b></p></div>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' name='resp-descripcion-" + (contLin + 1) + "' class='form-control input-sm'>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' name='resp-comentario-" + (contLin + 1) + "' class='form-control input-sm'>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<label class='radio-inline'><input type='radio' name='resp-correcta-" + (contLin + 1) + "' value='S'>Si</label> <label class='radio-inline'><input type='radio' name='resp-correcta-" + (contLin + 1) + "' value='N' checked>No</label>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='number' name='resp-orden-" + (contLin + 1) + "' min='1' max='9' value='" + (contLin + 1) + "' class='form-control input-sm'>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input name='button' type=button onclick='borrarUltima()' value='-' >";
        contLin++;
    }
    function borrarUltima() {
        ultima = document.all.tabla.rows.length - 1;
        if (ultima > -1) {
            document.all.tabla.deleteRow(ultima);
            contLin--;
        }
    }
    </script>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Definición de Respuestas</h3></div>
  <div class="panel-body">
    <table id="tabla" class="table">
        <thead>
            <tr>
              <th>#</th>
              <th class="col-md-4">Descripción</th>
              <th class="col-md-4">Comentario</th>
              <th class="col-md-2">¿Es correcta?</th>
              <th class="col-md-1">Orden</th>
              <th class="col-md-1"><input name="button" type=button onclick="agregar()" value="+" ></th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><div><p class="form-control-static input-sm"><b>1</b></p></div></td>
              <td><input type="text" name="resp-descripcion-1" class="form-control input-sm"></td>
              <td><input type="text" name="resp-comentario-1" class="form-control input-sm" ></td>
              <td>
                <label class="radio-inline"><input type="radio" name="resp-correcta-1" value="S" checked>Si</label>
                <label class="radio-inline"><input type="radio" name="resp-correcta-1" value="N">No</label>
              </td>
              <td><input type="number" name="resp-orden-1" class="form-control input-sm" min="1" max="9"></td>
            </tr>
            <tr>
              <td><div><p class="form-control-static input-sm"><b>2</b></p></div></td>
              <td><input type="text" name="resp-descripcion-2" class="form-control input-sm"></td>
              <td><input type="text" name="resp-comentario-2" class="form-control input-sm" ></td>
              <td>
                <label class="radio-inline"><input type="radio" name="resp-correcta-2" value="S">Si</label>
                <label class="radio-inline"><input type="radio" name="resp-correcta-2" value="N" checked>No</label>
              </td>
              <td><input type="number" name="resp-orden-2" class="form-control input-sm" min="1" max="9"></td>

            </tr>
        </tbody>
    </table>
  </div>
</div>

