@model TDG_SICACI.Models.preguntaModel
@{
    ViewBag.Title = "agregarPregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>agregarPregunta</h2>

@using (Html.BeginForm("agregarPregunta", "SelfA", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "pregunta" }))
{
    @Html.FormularioFor("#pregunta").AddFieldFor(m => m.orden).AddFieldFor(m => m.texto
        ).AddFieldFor(m => m.comentario
        ).AddFieldFor(m => m.tipo
        ).AddFieldFor(m => m.adjuntaArchivo
        ).AddFieldFor(m => m.tipoArchivo
        ).AddFieldFor(m => m.numeralRelacion
        ).AddButton(new JFFormButton("btnSend", "Send", JFFormButton.JFTipoBoton.Primary, false, "col-lg-8 col-lg-offset-4").SetForm("#finding"))

}