<div class="col-md-9 col-md-offset-3">
    <button id="btn-files" class="btn btn-default" type="button" data-jf-modal="#modalArchivos" data-jf-load="@Url.Action("_newModal_Files", new {id = ViewBag.ID})">Archivos Adjuntos (@ViewBag.countArchivos)</button>
    &nbsp;
    <button id="btn-comments" class="btn btn-default" type="button" data-jf-modal="#modalComentarios" data-jf-load="@Url.Action("_newModal_Comments", new {id = ViewBag.ID})">Comentarios (@ViewBag.countComentarios)</button>
</div>