@model TDG_SICACI.Models.Agregar_EvaluacionModel

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TDG_SICACI.Providers.BuildSelfAssessment evaluacion = new TDG_SICACI.Providers.BuildSelfAssessment(ViewBag.Headers, ViewBag.Resto, ViewBag.Self);
}

<script type="text/javascript" src="../../Scripts/jquery.tooltipster.js"></script>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.tooltip-system').tooltipster();
        });

    </script>
}

<h2>Agregar Evaluacion</h2>

@*@using (Html.BeginForm("Agregar", "Evaluacion", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "AgregarEvaluacionFormId" }))
{
	    @Html.FormularioFor("#AgregarEvaluacionFormId"
                ).AddFieldFor(m => m.comentario)
}

//TODO: Agregar las preguntas del self-assessment actual....*@
@evaluacion.Render();
<div class="col-md-12">
    <div style="width: 300px; margin: 0 auto;">
    @Html.jfButton(new JFFormButton("save-evaluacion", "Finalizar evaluación", 
        JFFormButton.JFTipoBoton.Primary, true))
    </div>
</div>