@model TDG_SICACI.Models.Agregar_EvaluacionModel

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Evaluacion</h2>

@using (Html.BeginForm("Agregar", "Evaluacion", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "AgregarEvaluacionFormId" }))
{
	    @Html.FormularioFor("#AgregarEvaluacionFormId"
                ).AddFieldFor(m => m.comentario)
}

//TODO: Agregar las preguntas del self-assessment actual....