@model TDG_SICACI.Models.EvaluacionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar Evaluacion</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a class="btn btn-md pull-right btn-success btn-block" href="@Url.Action("index", "Pregunta")">Gestionar Preguntas</a>
    </div>
</div>