<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://52.0.36.52</MSDeployServiceURL>
    <DeployIisAppPath>SICACI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SICACIEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sicaciserver.cdnkmzvtek1e.us-east-1.rds.amazonaws.com;Initial Catalog=SICACI;Persist Security Info=True;User ID=sicaci_admin;Password=tg2014UES;Application Name=EntityFramework" Name="Data Source=sicaciserver.cdnkmzvtek1e.us-east-1.rds.amazonaws.com;Initial Catalog=SICACI;Persist Security Info=True;User ID=sicaci_admin;Password=tg2014UES;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TDG_SICACI.Database.SICACIEntities, TDG_SICACI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SICACIEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.BDModel.csdl|res://*/Database.BDModel.ssdl|res://*/Database.BDModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sicaciserver.cdnkmzvtek1e.us-east-1.rds.amazonaws.com;Initial Catalog=SICACI;Persist Security Info=True;User ID=sicaci_admin;Password=tg2014UES;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>